@charset "UTF-8";
.riskControlDialog {
    width: 520px;
    height: 260px;
    text-align: center
}

.riskControlDialog .coupon-busy {
    margin: 60px 0 30px
}

.riskControlDialog .coupon-busy-tips {
    font-size: 20px;
    color: #333;
    line-height: 1
}

.riskControlDialog .w-button {
    margin: 30px 0 40px
}

.m-upMobileValidate .upMobileContent .step1 .sendCodeTitle {
    margin: 21px auto 0
}

.m-upMobileValidate .upMobileContent .step1 .sendCodeContent {
    font-size: 16px;
    margin: 38px auto 0;
    position: relative
}

.m-upMobileValidate .upMobileContent .step1 .sendCodeContent .bindPhone {
    position: absolute;
    top: -24px;
    width: 100%
}

.m-upMobileValidate .upMobileContent .step1 .sendCodeCountdown {
    width: 350px;
    color: #999;
    border: 1px solid #ddd;
    background-color: #F5F5F5;
    left: 40px
}

.m-upMobileValidate .upMobileContent .step2 .sendCodeTitle {
    margin: 21px auto 0
}

.m-upMobileValidate .upMobileContent .step2 .validateConfirm {
    font-size: 16px;
    margin-top: 26px
}

.m-upMobileValidate .upMobileContent .step2 .okbindButton {
    left: 220px
}

.m-upMobileValidate .upMobileContent .step2 .cancelbindButton {
    left: 66px
}

.m-upMobileValidateDialog {
    width: 430px;
    height: 320px
}

.m-upMobileValidate {
    font-size: 18px
}

.m-upMobileValidate .upMobileTitle {
    margin: 20px 0 0 20px
}

.m-upMobileValidate .upMobileContent {
    text-align: center
}

.m-upMobileValidate .upMobileContent .sendCodeTitle {
    margin: 21px auto 0
}

.m-upMobileValidate .upMobileContent .sendCodeContent {
    font-size: 16px;
    margin: 38px auto 0;
    position: relative
}

.m-upMobileValidate .upMobileContent .sendCodeContent .bindPhone {
    position: absolute;
    top: -24px;
    width: 100%
}

.m-upMobileValidate .upMobileContent .sendCodeCountdown {
    width: 350px;
    color: #999;
    border: 1px solid #ddd;
    background-color: #F5F5F5;
    left: 40px
}

.m-upMobileValidate .cancelbindButton, .m-upMobileValidate .okbindButton, .m-upMobileValidate .sendCodeCountdown {
    position: absolute;
    bottom: 48px
}

.m-pop-newUserGift {
    width: 680px;
    height: 562px;
    padding: 0 80px
}

.m-pop-newUserGift .title {
    padding: 40px 0 20px;
    height: 96px;
    position: relative
}

.m-pop-newUserGift .title .border {
    width: 400px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 2px solid #a92119
}

.m-pop-newUserGift .title .text {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    color: #a92119;
    position: absolute;
    background: #fff;
    left: 113px;
    padding: 0 24px 0 30px;
    top: 60px;
    letter-spacing: 6px
}

.m-pop-newUserGift .desc {
    font-size: 18px;
    line-height: 25px;
    padding: 18px 0 40px;
    text-align: center
}

.m-pop-newUserGift img {
    vertical-align: top;
    width: 210px;
    height: 210px;
    display: inline-block;
    float: left
}

.m-pop-newUserGift .info {
    overflow: hidden;
    width: 450px;
    margin: 0 auto
}

.m-pop-newUserGift .left {
    width: 210px;
    height: 210px;
    float: left
}

.m-pop-newUserGift .right {
    width: 240px;
    text-align: left;
    padding-left: 20px;
    background: #f3f3f3;
    height: 210px;
    display: table-cell;
    vertical-align: middle
}

.m-pop-newUserGift .right .itemName {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    max-width: 198px;
    max-height: 48px;
    overflow: hidden
}

.m-pop-newUserGift .right .manuDesc {
    font-size: 14px;
    line-height: 1;
    color: #999;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.m-pop-newUserGift .right .price-goods {
    padding: 29px 0 10px;
    line-height: 1;
    color: red;
}

.m-pop-newUserGift .right .retailPrice {
    color: #a92119;
    font-size: 18px;
    margin-right: 8px;
    font-weight: 700
}

.m-pop-newUserGift .right .retailPrice .yen {
    font-size: 24px
}

.m-pop-newUserGift .right .comparePrice {
    position: relative;
    color: #999;
    font-size: 14px;
    text-decoration: line-through
}

.m-pop-newUserGift .right .btn {
    width: 180px;
    height: 40px;
    display: block;
    border-radius: 0
}

.m-pop-newUserGift .more {
    width: 260px;
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 40px auto 0
}

.m-sortBar {
    margin-top: 10px;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden
}

.m-sortBar .area, .m-sortBar .category, .m-sortBar .manufacture {
    overflow: hidden;
    border-top: 1px dashed #dedede;
    line-height: 1;
    padding-top: 20px
}

.m-sortBar .area .name, .m-sortBar .category .name, .m-sortBar .manufacture .name {
    font-size: 14px;
    color: #999;
    float: left;
    margin-right: 28px
}

.m-sortBar .area .categoryGroup, .m-sortBar .category .categoryGroup, .m-sortBar .manufacture .categoryGroup {
    overflow: hidden;
    float: left;
    margin-bottom: 4px;
    width: 930px
}

.m-sortBar .area .categoryItem, .m-sortBar .category .categoryItem, .m-sortBar .manufacture .categoryItem {
    float: left;
    margin-right: 30px;
    margin-bottom: 16px;
    font-size: 14px
}

.m-sortBar .area:first-child, .m-sortBar .category:first-child, .m-sortBar .manufacture:first-child {
    border-top: none
}

.m-sortBar .manufacture {
    text-align: right
}

.m-sortBar .manufacture .name {
    margin-right: 14px
}

.m-sortBar .manufacture.limitHeight {
    max-height: 81px
}

.m-sortBar .manufacture.limitWidth .categoryGroup {
    width: 830px
}

.m-sortBar .manufacture .moreBtn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer
}

.m-sortBar .manufacture .moreBtn a {
    display: inline-block;
    width: 60px;
    line-height: 20px
}

.m-sortBar .manufacture .moreBtn .w-icon-arrow {
    position: relative;
    top: 7px;
    margin-left: 4px
}

.m-sortBar .area .name {
    margin-right: 0
}

.m-sortBar .sorts {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    line-height: 1;
    border-top: 1px dashed #dedede
}

.m-sortBar .sorts:first-child {
    border-top: none
}

.m-sortBar .sorts .name {
    font-size: 14px;
    color: #999;
    margin-right: 28px
}

.m-sortBar .sorts .sort {
    margin-right: 30px;
    font-size: 14px
}

.m-sortBar .sorts .sort.sort-time {
    margin-right: 30px
}

.m-sortBar .sorts .sort.sort-time .arrow-down-gold-l, .m-sortBar .sorts .sort.sort-time .arrow-down-gray-l {
    vertical-align: middle;
    display: inline-block;
    margin-left: 9px;
    margin-top: -2px
}

.m-sortBar .sorts .sort-price .icon {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -2px
}

.m-sortBar .sorts .sort-price .icon .arrow-up-gold, .m-sortBar .sorts .sort-price .icon .arrow-up-gray {
    display: block;
    margin-bottom: 2px
}

.m-sortBar .sorts .sort-price .icon .arrow-down-gold, .m-sortBar .sorts .sort-price .icon .arrow-down-gray {
    display: block;
    margin-top: 2px
}

.m-sortBar .sorts .priceIpt {
    position: absolute;
    display: inline-block;
    margin-top: -6px
}

.m-sortBar .sorts .priceIpt em {
    line-height: 24px;
    margin: 0 8px
}

.m-sortBar .sorts .priceIpt .floorPrice, .m-sortBar .sorts .priceIpt .upperPrice {
    display: inline-block;
    width: 65px;
    height: 26px;
    border: 1px solid #ccc
}

.m-sortBar .sorts .priceIpt .floorPrice input, .m-sortBar .sorts .priceIpt .upperPrice input {
    line-height: 24px;
    width: 100%
}

.m-sortBar .sorts .priceIpt .w-icon-common {
    vertical-align: initial
}

.m-sortBar .sorts .priceIpt .icon-common-rmb {
    height: 24px;
    padding-left: 16px
}

.m-sortBar .sorts .priceSure {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.m-sortBar .sorts .priceSure a {
    display: inline-block;
    font-size: 14px;
    cursor: pointer
}

.m-sortBar .sorts .priceSure .ok {
    margin-right: 10px;
    text-align: center;
    width: 60px;
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #666;
    background-color: #f5f5f5
}

.m-sortBar .sorts .priceSure .ok:hover {
    background-color: #fff
}

.m-sortBar .sorts .priceSure .ok.disabled {
    color: #ccc;
    background-color: #f5f5f5
}

.m-sortBar .sorts .priceSure .reset {
    color: #999;
    background-color: #fff
}

.m-sortBar .active, .m-sortBar .sorts .priceSure .reset:hover {
    color: #b4a078
}

.m-sortBar .sorts .priceSure.hide {
    display: none
}