/**index.wxss**/

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  /* width: 100%; */
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* padding: 0 0.3rem; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: auto;
}

.banner image {
  width: 100%;
  height: auto;
  border-radius: 0.1rem;
}

.m-menu {
  display: flex;
  height: 1.81rem;
  width: 7.5rem;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.m-menu .item {
  flex: 1;
  display: block;
  padding: 0.2rem 0;
}

.m-menu image {
  display: block;
  width: 0.58rem;
  height: 0.58rem;
  margin: 0 auto;
  margin-bottom: 0.12rem;
}

.m-menu text {
  display: block;
  font-size: 0.24rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
  color: #333;
}

.a-section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  color: #333;
  margin-top: 0.05rem;
}

.a-section .h {
  display: block;
  height: 0.6rem;
  width: 100%;
}

.a-section .h .txt {
  background: url("") right 0.04rem no-repeat;
  background-size: 0.16655999999999999rem 0.27rem;
  display: block;
  height: 0.36rem;
  font-size: 0.32rem;
  line-height: 0.34rem;
  font-weight: bold;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.a-section .h .more {
  display: block;
  height: 0.36rem;
  font-size: 0.26rem;
  line-height: 0.3rem;
  color: #555;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.a-topic .b {
  height: auto;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.a-topic .b .list {
  height: auto;
  width: 7.5rem;
  white-space: nowrap;
}

.buyPeopleItem {
  display: inline-block;
  height: 2.15rem;
  width: 2.7rem;
  margin-top: 0.03rem;
  margin-left: 0.05rem;
  overflow: hidden;
  border-radius: 0.05rem;
  border: 0.01rem #fff solid;
  padding: 0.04rem 0.02rem 0.02rem 0.04rem;
  box-shadow: 0.01rem 0.02rem 0.04rem 0.05rem rgba(0, 0, 0, 0.1);
}

.buyPeopleItemOther {
  display: inline-block;
  height: 2.15rem;
  width: 1.62rem;
  overflow: hidden;
  border-radius: 0.05rem;
  border: 0.01rem #fff solid;
  padding: 0.04rem 0.02rem 0.02rem 0.04rem;
  box-shadow: 0 0.02rem 0.08rem rgba(0, 0, 0, 0.2);
  margin-right: 0.2rem;
}

.buyPeopleItemOther:before,
.buyPeopleItemOther:after {
  position: absolute;
  content: "";
  top: 2rem;
  bottom: 0.1rem;
  left: 0.6rem;
  right: 0.6rem;
  z-index: -1;
  /* box-shadow: 0 0 0.8rem 0.26rem #486685; */
  border-radius: 2rem/0.4rem;
}

.buyPeopleItem:last-child {
  margin-right: 0.1rem;
}

.buyPeopleItem:before,
.buyPeopleItem:after {
  position: absolute;
  content: "";
  top: 2rem;
  bottom: 0.1rem;
  left: 0.1rem;
  right: 0.1rem;
  z-index: -1;
  /* box-shadow: 0 0 0.8rem 0.26rem hsl(210, 30%, 40%); */
  border-radius: 2rem/0.4rem;
}

.a-topic .b .item:last-child {
  margin-right: 0.1rem;
}

.imgHelp {
  height: 1.5rem;
  width: 2.68rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.05rem;
}

.a-topic .b .img {
  height: auto;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  /* filter: blur(0.02rem);
    -webkit-filter: blur(0.02rem);
    transform: scale(1); */
}

.moreImg {
  height: 2.1rem;
  width: 1.62rem;
  opacity: 0.3;
}

.a-topic .b .np {
  height: 0.35000000000000003rem;
  margin-bottom: 0.095rem;
  color: #333;
}

.a-topic .b .np .name {
  color: #666;
  font-size: 0.26rem;
}

.a-topic .b .np .price {
  margin-left: 0.20800000000000002rem;
  color: #b4282d;
}

.a-topic .b .desc {
  display: block;
  height: 0.3rem;
  color: #999;
  font-size: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.good-grid {
  width: 7.5rem;
  height: auto;
  overflow: hidden;
  margin-top: 0.15rem;
}

.good-grid .h {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: left;
  height: 0.7000000000000001rem;
  width: 7rem;
  margin-left: 0.35000000000000003rem;
  margin-right: 0.35000000000000003rem;
}

.good-grid .h .tx {
  font-size: 0.35000000000000003rem;
  color: #333;
}

.good-grid .b {
  width: 7.5rem;
  padding: 0 0.0625rem;
  height: auto;
  overflow: hidden;
}

.good-grid .b .item {
  float: left;
  background: #fff;
  width: 3.47rem;
  margin-bottom: 0.0625rem;
  margin-left: 15px;
  height: 4.8rem;
  overflow: hidden;
  text-align: center;
}

.good-grid .b .item .a {
  height: 4.37rem;
  width: 100%;
}

.good-grid .b .item-b {
  margin-left: 0.0625rem;
}

.good-grid .item .img {
  margin-top: 0.2rem;
  width: 3.2rem;
  height: 3.2rem;
}

.good-grid .item .name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  padding: 0 0.1rem 0 0.1rem;
  height: 0.35rem;
  margin: 0.04rem 0 0.1rem 0;
}

.goodName {
  font-size: 0.28rem;
  text-align: left;
  flex: 5;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.goodPrice {
  font-size: 0.26rem;
  text-align: right;
  flex: 2;
  color: #b4282d;
  font-weight: bold;
}

.good-grid .item .desc {
  display: block;
  height: 0.26rem;
  color: #999;
  margin-left: 0.2rem;
  text-align: left;
  font-size: 0.2rem;
  line-height: 0.26rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.good-grid .more-item {
  height: 100%;
  width: 100%;
}

.more-a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.good-grid .more-a .txt {
  height: 0.33rem;
  width: 100%;
  line-height: 0.33rem;
  color: #333;
  font-size: 0.33rem;
}

.good-grid .more-a .icon {
  margin: 0.6rem auto 0 auto;
  width: 0.7rem;
  height: 0.7rem;
}

.search {
  height: auto;
  /* width: 90%; */
  background: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 0.15rem;
  margin-top: 0.15rem;
}

.search .input {
  width: 100%;
  height: 0.5rem;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.02rem #999999 solid;
}

.search .icon {
  width: 0.28rem;
  height: 0.28rem;
}

.search .txt {
  height: 0.42rem;
  line-height: 0.42rem;
  color: #888;
  padding-left: 0.1rem;
  font-size: 0.28rem;
}

.numberColumn {
  position: absolute;
  top: 0.4rem;
  left: 0.35rem;
  height: 0.34rem;
  width: 0.6rem;
  font-size: 0.2rem;
  color: #a7936e;
  border: 0.01rem solid #b3a07d;
  border-radius: 0.06rem;
  line-height: 0.34rem;
  background-color: #f4f0ea;
}

.buyShowMoreBody {
  position: absolute;
  top: 30%;
  left: 18%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.backlineSmall {
  width: 1rem;
  height: 0.02rem;
  background: #666;
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
}

.buyPeopleColumn {
  font-size: 0.24rem;
  color: #222;
  line-height: 0.32rem;
}

.numberColumnBig {
  position: absolute;
  top: 0.2rem;
  left: 0.1rem;
  height: 0.34rem;
  width: 0.8rem;
  font-size: 0.2rem;
  color: #a7936e;
  border: 0.01rem solid #b3a07d;
  border-radius: 0.06rem;
  line-height: 0.34rem;
  background-color: #f4f0ea;
  text-align: center;
}

.view17 {
  width: 4.8rem;
  height: 1.2rem;
  margin: 0.2rem auto;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

.backline2 {
  width: 6.8500000000000005rem;
  height: 0.02rem;
  background: #d6d6d6;
  margin-top: 0.05rem;
  margin-bottom: 0.25rem;
}

.backline {
  width: 6.8500000000000005rem;
  height: 0.01rem;
  background: #d6d6d6;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.partCl {
  height: 2.5rem;
  /* padding: 0 0.4rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
  margin: 0.4rem 0 0 0;
  width: 100%;
  text-align: center;
}

.partD {
  width: 100%;
  height: 2.5rem;
  display: flex;
  /* background-color: #fbe9e8; */
  border-radius: 0.08rem;
  align-items: center;
  margin-top: 0.48rem;
  background-image: url(https://lg-qrm18qcm-1255940368.cos.ap-shanghai.myqcloud.com/banner07142243/freebrand7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}

.partD .img {
  width: 1.75rem;
  height: 2.3rem;
  margin: 0 0.5rem 0 0.53rem;
  border-radius: 0.05rem;
}

.partD .sub {
  display: flex;
  flex-direction: column;
}

.partD .sub .title {
  font-size: 0.36rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.partD .sub .line {
  font-size: 0.28rem;
  color: #c5a279;
  font-weight: bold;
}

.partA {
  height: 3rem;
  flex: 1;
  vertical-align: middle;
  background-color: #f4f9ff;
  border-radius: 0.08rem;
  /* box-shadow: 0 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.1), 0 0.03rem 0.05rem 0 rgba(0, 0, 0, 0.09); */
}

.partB {
  height: 3rem;
  flex: 1;
  vertical-align: middle;
  background-color: #fffaf8;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  border-radius: 0.08rem;
  /* box-shadow: 0 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.1), 0 0.03rem 0.05rem 0 rgba(0, 0, 0, 0.09); */
}

.partC {
  height: 3rem;
  flex: 1;
  vertical-align: middle;
  background-color: #fffbf3;
  border-radius: 0.08rem;
  /* box-shadow: 0 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.1), 0 0.03rem 0.05rem 0 rgba(0, 0, 0, 0.09); */
}

.partimg {
  width: 1.6rem;
  height: 2rem;
  margin: 0.2rem 0.33rem 0 0.33rem;
  border-radius: 0.05rem;
}

.parttxt {
  width: 100%;
  text-align: center;
  font-size: 0.28rem;
  font-weight: bold;
}

.someActivity {
  background: url(https://lg-qrm18qcm-1255940368.cos.ap-shanghai.myqcloud.com/jiaobiao.png) center no-repeat;
  background-size: 100%;
  position: absolute;
  top: -0.05rem;
  left: 0.03rem;
  height: 0.4rem;
  width: 1rem;
  line-height: 0.34rem;
  text-align: center;
}

.someActivity2 {
  background: url(https://lg-qrm18qcm-1255940368.cos.ap-shanghai.myqcloud.com/jiaobiao2.png) center no-repeat;
  background-size: 100%;
  position: absolute;
  top: -0.05rem;
  left: 0.03rem;
  height: 0.4rem;
  width: 1rem;
  line-height: 0.34rem;
  text-align: center;
}

.backline3 {
  width: 100%;
  height: 0.12rem;
  background: #f6f6f6;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
}

.backline4 {
  width: 100%;
  height: 0.12rem;
  background: #f6f6f6;
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.dialog {
  position: relative;
}

.dialog_container {
  position: fixed;
  top: 10%;
  left: 12.5%;
  width: 75%;
  height: 80%;
  z-index: 9999;
}

.formButton {
  z-index: 10;
  background: transparent;
  width: 0.01rem;
  height: 0.01rem;
  position: fixed;
  top: 0;
  left: 0;
}

.dialog_mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.close-button {
  width: 0.42rem;
  height: 0.42rem;
  text-align: right;
}

.title-coupon {
  display: flex;
}

.protect-line {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin: 0 atuo;
  padding: 0.1rem 0rem 0.1rem 0rem;
}

.protect-item {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.index-duigou-img {
  width: 0.3rem;
  height: 0.3rem;
}

.index-duigou-text {
  font-size: 0.24rem;
  margin-left: 0.1rem;
}

.buyPartHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.05rem;
}

.buyPartName {
  color: #444;
  font-size: 0.22rem;
  flex: 2;
}

.buyPartTime {
  color: #444;
  font-size: 0.22rem;
  margin-right: 0.03rem;
}

.buyPartDetail {
  color: #999;
  font-size: 0.2rem;
  white-space: pre-line;
  margin-bottom: 0.03rem;
}

.m-slider {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
}

.slider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  position: relative;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.slider-item {
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #fff;
}

.slider-item img {
  width: 100%;
  height: auto;
  display: block;
  border: none;
}

.slider-pagination {
  text-align: right;
  position: absolute;
  width: 100%;
  z-index: 2;
  right: 0;
  bottom: 10px;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-pagination > .slider-pagination-item {
  margin: 0 0.25rem;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 100%;
  background-color: #fff;
}

.slider-pagination > .slider-pagination-item.slider-pagination-item-active {
  background-color: #fff;
  width: 19px;
  border-radius: 22px;
  height: 5px;
}

.news {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
}

.head_left {
  font-size: 0.32rem;
  line-height: 0.34rem;
  font-weight: bold;
  float: left;
}

.news_body {
  margin-top: 0.25rem;
  width: 100%;
}

.head_right {
  font-size: 0.26rem;
  line-height: 0.34rem;
  color: #666666;
  float: right;
}

.news_item {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0 0.1rem 0;
  border-top: #e1e1e1 0.01rem solid;
}

.news_head {
  margin: 0.2rem 0 0 0;
}

.news_item_img {
  width: 1.8rem;
  height: 1rem;
}

.news_item_content {
  padding: 0 0.2rem 0 0.2rem;
}

.news_item_title {
  font-size: 0.28rem;
  color: #222222;
  line-height: 0.28rem;
  width: 4.8rem;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_item_body {
  font-size: 0.23rem;
  width: 4.8rem;
  color: #999999;
  line-height: 0.28rem;
  margin-top: 0.12rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news_item_end {
  font-size: 0.26rem;
  line-height: 0.34rem;
  color: #333333;
  float: right;
}

.backline5 {
  width: 100%;
  height: 0.12rem;
  background: #f6f6f6;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
